@import "@css/scss/utilities";

.neo-cms-blog-post-overview {
    @include cmsComponent();

    @include ieonly() {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .neo-blog-post-overview-teaser {
        @include span(12);

        @include fromBreakpointM() {
            @include span(4);

            @include ieonly() {
                @include span(12);
            }
        }

        @include ieonly() {
            @include fromBreakpointL() {
                flex: 0 0 28%;
            }
        }

        &.teaser-two-columns {
            @include fromBreakpointM() {
                @include span(8);

                @include ieonly() {
                    @include span(12);
                }
            }

            @include ieonly() {
                @include fromBreakpointL() {
                    flex: 0 0 62%;
                }
            }
        }
    }

    &.load-more-button {
        .neo-button {
            display: inline-block;
        }
    }

    .neo-multi-select {
        margin-left: auto;
        margin-bottom: 4rem;
        width: 100%;

        @include fromBreakpointM() {
            @include span(12);
            min-width: 38.5rem;
        }
    }

    .neo-button {
        @include span(12);
        margin: 0 auto;
        display: none;

        @include ieonly() {
            button {
                margin: 0 auto;
            }
        }
    }
}
