@import "@css/scss/utilities";

.neo-card {
    position: relative;
    display: flex;
    border: 0.2rem solid $grey-25;
    margin-bottom: 4rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $grey;

    &[href]:hover {
        .card__imgWrapper {
            .card__img {
                transform: scale(1.1);
            }
        }

        .card__children {
            .neo-headline {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    .card__children {
        display: block;

        .neo-paragraph {
            display: block;
            margin-top: 1.5rem;
        }
    }

    .card__imgWrapper {
        position: relative;
        overflow: hidden;

        &:before {
            @include aspectRatio(16, 9);
            content: "";
            display: block;
        }

        &--empty {
            // HACK FOR SAFARI
            visibility: hidden;
            height: 0;
        }
    }

    .card__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        font-family: "object-fit: cover;";
        transition: transform 0.3s;
    }

    .card__date {
        @include fontCopy;
        color: $grey-55;
        margin-bottom: -1.5rem;
        padding: 1.5rem 2rem 0 2rem;
    }

    .card__content {
        padding: 2rem 2.5rem 2rem 2rem;
        box-sizing: border-box;
        flex: 1;
        flex-basis: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .neo-paragraph {
            flex: 1 auto;

            .neo-paragraph {
                margin-top: 0;
            }
        }
    }

    .card__link {
        @include fontCopy;
        margin-top: auto;
        padding-top: 2.5rem;
        padding-right: 2.5rem;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        color: $primary-variant;

        .neo-icon {
            transform: rotate(180deg);
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            bottom: 0.2rem;
            right: 0;
            fill: currentColor;
            color: $primary-variant;
        }
    }
}
