%screen-reader-only {
    border: 0 none;
    clip: rect(0rem, 0rem, 0rem, 0rem);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}
